<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/css/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Site de Física</title>
</head>

<body>
    <nav class="navbar navbar-lg navbar-expand-lg navbar-light fixed-top bg-blue">
        <a class="navbar-brand text-lg mr-5" href="#">Física Online</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active border-bottom mx-2 rounded-top">
                    <a class="nav-link" href="menu.html">Home</a>
                </li>
                <li class="nav-item active border-bottom mx-2 rounded-top">
                    <a class="nav-link" href="ondulatoria.html">Ondulatória</a>
                </li>
                <li class="nav-item active border-bottom mx-2 rounded-top">
                    <a class="nav-link" href="optica.html">Óptica</a>
                </li>
                <li class="nav-item active border-bottom mx-2 rounded-top">
                    <a class="nav-link" href="fisicaModerna.html">Física Moderna</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>

    <div class="py-5"></div>

    <div class="d-flex justify-content-center">
        <div class="my-3 bg-white px-5 pt-3" style="width: 80%;">
            <div class="container-fluid bg-dark rounded">
                <div class="container d-flex justify-content-center">
                    <h1 class="display-2 text-light">Física Online</h1>
                </div>
                <div class="container d-flex justify-content-center">
                    <h1 class="display-4 text-light">Física - 3° Ano</h1>
                </div>
            </div>

            <div class="jumbotron my-5 rounded">
                <h1 class="display-4">Ondulatória</h1>
                <p class="lead">Ondulatória é a parte da Física que estuda as ondas, ou seja, qualquer perturbação
                    (pulso) que se propaga em um meio.</p>
                <a class="btn btn-primary btn-lg" href="ondulatoria.html" role="button">Saiba mais</a>
            </div>

            <div class="jumbotron my-5 rounded">
                <h1 class="display-4">Óptica</h1>
                <p class="lead">Óptica é a parte da Física responsável pelo estudo dos fenômenos associados à luz.</p>
                <a class="btn btn-primary btn-lg" href="optica.html" role="button">Saiba mais</a>
            </div>

            <div class="jumbotron my-5 rounded">
                <h1 class="display-4">Física Moderna</h1>
                <p class="lead">Física moderna é a denominação dada ao conjunto de teorias surgidas no começo do século
                    XX, principiando com a Mecânica Quântica e a Teoria da Relatividade e as alterações no entendimento
                    científico daí decorrentes, bem como todas as teorias posteriores.</p>
                <a class="btn btn-primary btn-lg" href="fisicaModerna.html" role="button">Saiba mais</a>
            </div>

            <div class="text-center">
                <p class="display-4">Referências Bibliográficas</p>
            </div>

            <div class="text-center">
                <a href="https://www.portalsaofrancisco.com.br/fisica/ondulatoria">https://www.portalsaofrancisco.com.br/fisica/ondulatoria </a>
            </div>
            <div class="text-center">
                <a href="https://www.todamateria.com.br/ondas/">https://www.todamateria.com.br/ondas/</a>
            </div>
            <div class="text-center">
                <a href="https://mundoeducacao.bol.uol.com.br/fisica/ondulatoria.htm">https://mundoeducacao.bol.uol.com.br/fisica/ondulatoria.htm</a>
            </div>
            <div class="text-center">
                <a href="https://www.infoescola.com/fisica/ondas-transversais/">https://www.infoescola.com/fisica/ondas-transversais/</a>
            </div>
            <div class="text-center">
                <a href="https://www.infoescola.com/fisica/ondas-longitudinais/">https://www.infoescola.com/fisica/ondas-longitudinais/</a>
            </div>
            <div class="text-center">
                <a href="https://www.todamateria.com.br/fisica-quantica/">https://www.todamateria.com.br/fisica-quantica/</a>
            </div>
            <div class="text-center">
                <a href="https://querobolsa.com.br/enem/fisica/teoria-da-relatividade">https://querobolsa.com.br/enem/fisica/teoria-da-relatividade</a>
            </div>
            <div class="text-center">
                <a href="https://querobolsa.com.br/enem/fisica/fisica-moderna">https://querobolsa.com.br/enem/fisica/fisica-moderna</a>
            </div>
            <div class="text-center">
                <a href="https://www.estudopratico.com.br/fisica-nuclear/">https://www.estudopratico.com.br/fisica-nuclear/</a>
            </div>
            <div class="text-center">
                <a href="https://brasilescola.uol.com.br/fisica/fisica-nuclear.htm ">https://brasilescola.uol.com.br/fisica/fisica-nuclear.htm </a>
            </div>
            <div class="text-center">
                <a href="https://brasilescola.uol.com.br/fisica/optica.htm">https://brasilescola.uol.com.br/fisica/optica.htm</a>
            </div>
            <div class="text-center">
                <a href="https://www.sofisica.com.br/conteudos/FormulasEDicas/formulas18.php">https://www.sofisica.com.br/conteudos/FormulasEDicas/formulas18.php</a>
            </div>
            <div class="text-center">
                <a href="https://www.portalsaofrancisco.com.br/fisica/optica"></a>
            </div>
        </div>
    </div>
    </div>

    <footer class="page-footer">
        <div class="container d-flex justify-content-end">
            <p class="">Iris Debastiani de Mello, Luan da Silveira de Souza e Raul Tomaz Marques</p>
        </div>
    </footer>

</body>

</html>