<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/css/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Ondulatória</title>
</head>
<body>
    <nav class="navbar navbar-lg navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-lg mr-5" href="#">Física Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="menu.html">Home<span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="ondulatoria.html">Ondulatória</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="optica.html">Óptica</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="fisicaModerna.html">Física Moderna</a>
            </li>            
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>

    <div class="d-flex justify-content-center">
        <div class="my-3 w-75">
            <div class="container-fluid bg-dark rounded">
                <div class="container d-flex justify-content-center">
                    <h1 class="display-2 text-light">Física Online</h1>
                </div>
                <div class="container d-flex justify-content-center">
                    <h1 class="display-4 text-light">Ondulatória</h1>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-2"></div>
                <div class="col-8">
                    <p class="display-4 text-center">Introdução</p>
                    <p class="text-justify">Ondulatória é a porção da física que estuda as ondas, suas características e propriedades. 
                        Do ponto de vista científico, ondas são perturbações/vibrações que percorrem por um meio, 
                        transportando energia conforme se movimentam. Todas as ondas são originadas de uma fonte, 
                        que é um objeto ou meio capaz de criar ondas, e estas apenas transferem a energia cinética 
                        originárias da fonte.</p>
                </div>
                <div class="col-2"></div>
            </div>

            <hr>

            <div class="container-fluid">
                <p class="display-4 text-center">Características das Ondas</p>
            </div>
            <div class="row pt-3">
                <div class="col-6">
                    <p class="text-center display-4">Frequência</p>
                    <p class="text-justify">Representa o número de oscilações da onda em um determinado 
                        intervalo de tempo. O valor da frequência não depende da onda em si, mas sim da 
                        frequência com qual a fonte produz novas oscilações. A frequência é representada pela 
                        letra f e é comumente medida em Hertz (Hz).</p>
                </div>
                <div class="col-6">
                    <p class="text-center display-4">Período</p>
                    <p class="text-justify">Representa o tempo necessário para a onda criar uma nova oscilação. 
                        Utiliza-se a letra T e é medido em segundos.</p>
                </div>
            </div>

            <p class="display-4 text-center">Relação Período-Frequência</p>
            <div class="container-fluid d-flex justify-content-center">
                <img src="/public/img/frequencia-periodo.gif" alt="relacao frequencia-periodo" class="w-50">
            </div>

            <div class="row pt-3">
                <div class="col-6">
                    <p class="text-center display-4">Crista</p>
                    <p class="text-center">Parte mais alta que a onda atinge.</p>

                    <p class="text-center display-4">Comprimento de Onda</p>
                    <p class="text-center">Tamanho das oscilações da onda. Pode ser identificado medindo a distância
                         entre duas cristas ou dois vales adjacentes e é representada pela letra grega lambda (λ).</p>

                </div>
                <div class="col-6">
                    <p class="text-center display-4">Vale</p>
                    <p class="text-center">Parte mais baixa que a onda atinge.</p>

                    <p class="text-center display-4">Amplitude</p>
                    <p class="text-center">Distância entre um vale, a parte mais baixa, e uma crista, 
                        a parte mais alta, caracterizando a altura da onda.</p>
                </div>
            </div>

            <div class="container-fluid d-flex justify-content-center">
                <img src="/public/img/esquema-onda.gif" alt="esquema de uma onda" class="w-50">
            </div>

            <div class="row pt-3">
                <div class="col-6">
                    <p class="text-center display-4">Velocidade</p>
                    <p class="text-center">Velocidade v que uma onda leva para propagar-se.</p>
                </div>
                <div class="col-6">
                    <img src="/public/img/onda-velocidade.jpg" alt="velocidade de uma onda" class="w-75">
                </div>
            </div>
            
            <hr>

            <p class="display-4 text-center">Direção de Vibração</p>
            <div class="row pt-3">
                <div class="col-6">
                    <p class="text-center display-4">Ondas Transversais</p>
                    <p class="text-justify">A onda está propagando-se da esquerda para a direita, na horizontal, 
                        mas qualquer ponto da corda move-se para cima e para baixo, na vertical. 
                        Como a direção de propagação da onda é perpendicular, ou seja, forma um ângulo de 90º 
                        com a direção de oscilação de qualquer ponto sobre a corda, dizemos que ela é transversal.</p>

                    <img src="/public/img/onda-transversal.jpg" alt="onda-transversal" class="w-100">
                </div>
                <div class="col-6">
                    <p class="text-center display-4">Ondas Longitudinais</p>
                    <p class="text-justify">A onda longitudinal move-se na mesma direção de oscilação dos corpos 
                        que estejam em seu caminho. Para exemplificar este tipo de onda, consideremos agora uma 
                        pessoa falando ou um auto-falante emitindo um determinado som. O som da voz da pessoa se 
                        propaga no espaço em todas as direções, afastando-se da fonte. O som, transmitindo-se no 
                        ar, produz compressões e rarefações. De acordo com a sequência sonora emitida pela pessoa, 
                        podemos ter camadas de ar mais comprimidas ou menos comprimidas, conforme está representado 
                        na figura como regiões claras e regiões escuras. A distância entre uma região clara e outra 
                        escura representa meio comprimento de onda (λ/2).</p>

                    <img src="/public/img/onda-longitudinal.jpg" alt="onda-transversal" class="w-100">
                </div>
            </div>

        </div>
    </div>
</body>
</html>